




.layout__top {
	margin: -10px;
	padding: 20px 0 10px 0;
	background-color: darkgreen;
	color: white;
	text-align: center; 
}

.layout__stuff {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px 20px;
}

.layout__view {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.layout__chooser-heading {
	font-weight: 700;
}

.hidden { display: none; }
